<mat-toolbar color="primary">
  <span>Lista de Clientes</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="openDialogCliente()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<body class="mat-app-background">
  <div class="mat-elevation-z8">
    <mat-form-field>
      <input matInput placeholder="Procurar Clientes" #input>
    </mat-form-field>

    <table mat-table [dataSource]="clientes">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let cliente">{{ cliente.id }}</td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let cliente">{{ cliente.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="CPF">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let cliente">{{ cliente.cpf }}</td>
      </ng-container>

      <ng-container matColumnDef="Editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let cliente">
          <button mat-icon-button color="success">
            <mat-icon (click)="openDialogCliente(cliente)">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Deletar">
        <th mat-header-cell *matHeaderCellDef>Deletar</th>
        <td mat-cell *matCellDef="let cliente">
          <button mat-icon-button color="primary" (click)="deleteCliente(cliente.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>

    <mat-paginator (page)="onClickNext($event)" [pageSizeOptions]="[2, 5, 10]" [pageSize]="2" [length]="count"
      showFirstLastButtons>
    </mat-paginator>
  </div>

</body>
