/* Toolbar */
.example-spacer {
  flex: 1 1 auto;
}

/* Table */
table {
  width: 100%;
}

/*
   server-side-angular-way.component.css
*/
.no-data-available {
  text-align: center;
}

/*
   src/styles.css (i.e. your global style)
*/
.dataTables_empty {
  display: none;
}
