<h1 mat-dialog-title>Cadastro de Cliente</h1>

<div mat-dialog-content>
  <form #FormCadastro="ngForm">
    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="cliente.nome" #nome="ngModel" name="nome" id="nome" required>
      <mat-hint>Digite seu nome completo</mat-hint>
      <mat-icon matSuffix>person</mat-icon>

      <mat-error *ngIf="nome.errors && (nome.dirty || nome.touched)">
        O nome é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" [email]=true [(ngModel)]="cliente.email" #email="ngModel" name="email" id="email"
        required>
      <mat-hint>Digite um E-mail válido</mat-hint>
      <mat-icon matSuffix>email</mat-icon>

      <mat-error *ngIf="email.errors && (email.dirty || email.touched)">
        <div *ngIf="email.invalid">
          Digite um E-mail válido
        </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Celular</mat-label>
      <input matInput type="text" mask="(00) 00000-0000" [(ngModel)]="cliente.telefone" #telefone="ngModel"
        name="numero" id="numero" required>
      <mat-hint>Digite seu número de Celular</mat-hint>
      <mat-icon matSuffix>phone</mat-icon>

      <mat-error *ngIf="telefone.errors && (telefone.dirty || telefone.touched)">
        O Nº de Celular é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Sexo</mat-label>
      <mat-select [(ngModel)]="cliente.sexo" #sexo="ngModel" name="sexo" id="sexo" required>
        <mat-option value="M">Masculino</mat-option>
        <mat-option value="F">Feminino</mat-option>
      </mat-select>

      <mat-error *ngIf="sexo.errors && (sexo.dirty || sexo.touched)">
        O sexo é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput [(ngModel)]="cliente.data_nascimento" #nascimento="ngModel" [matDatepicker]="picker"
        name="nascimento" id="nascimento" [disabled]="cliente.id" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <mat-error *ngIf="nascimento.errors && (nascimento.dirty || nascimento.touched)">
        A nascimento é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>CPF</mat-label>
      <input matInput type="text" mask="000.000.000-00" [dropSpecialCharacters]="false" [(ngModel)]="cliente.cpf"
        #cpf="ngModel" name="cpf" id="cpf" [disabled]="cliente.id" required>
      <mat-icon matSuffix>person</mat-icon>

      <mat-error *ngIf="cpf.errors && (cpf.dirty || cpf.touched)">
        O CPF é obrigatório
      </mat-error>
    </mat-form-field>
  </form>

  <div mat-dialog-actions>
    <button mat-button (click)="saveCliente()" [disabled]="!formCadastro.form.valid">SALVAR</button>
    <button mat-button color="warn" (click)="closeDialog()">CANCELAR</button>
  </div>
</div>
